In [1]:
import numpy as np
import pandas as pd

In [3]:
data1=pd.read_csv('Housing.csv')
data1

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

 Q1. Write a program to find the average price of houses grouped by the number of bedrooms.
 Display the result in descending order of average price.

In [7]:
bedroom=data1.groupby('bedrooms')
bedroom

In [8]:
type(bedroom)

pandas.core.groupby.generic.DataFrameGroupBy

In [1]:
for bedroom,data in bedroom:
    print(bedroom)
    print(data)

NameError: name 'bedroom' is not defined

In [22]:
data1.groupby('bedroom').['price'].mean().sort_values(ascendingvalue=False)

SyntaxError: invalid syntax (3838108711.py, line 1)